

$primary:    #0a0a23 !default;
$secondary:#808D74;

$grey:          #F5F7FA;
$light-grey:    #c8cfda;
$dark-grey:     #444444;
$white:         #ffffff;
$black:         #000000;
$danger:        #df6b51;
$green:         #28a745;

$placeholder:   #a7a7a7;
$border:        #DDDDDD;
$disabled:      #777777;
$disabled-bg:      #e9ecef;
$reset:         #c7c7c7;

$orange:        #ff9121;
$light-green:#808D74;
$maroon:         #673c4f;
$maroon-dark:   #391b29;
$light-maroon: #5A5368;
$dark-blue:     #404E67;
$blue:          #359EFF;

$dark:$dark-blue;



