<div class="login-page">
  <div class="text-center"><img src="./assets/images/logo.png" alt="Logo"></div>
  <form class="form-signin mt-5" [formGroup]="forgotPasswordForm" novalidate>
    <h1 class="text-center mb-4">FORGOT PASSWORD</h1>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="Username">Username <span class="required">*</span></label>
          <input class="form-control" type="text" id="Username" placeholder="Username" formControlName="username">
          <div
            *ngIf="forgotPasswordForm.controls['username'].invalid && (forgotPasswordForm.controls['username'].dirty || forgotPasswordForm.controls['username'].touched)"
            class="error-msg">
            <div *ngIf="forgotPasswordForm.controls['username'].errors.required">
              Username is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="loginEmailAddress">Email Address <span class="required">*</span></label>
          <input class="form-control" type="text" id="loginEmailAddress" placeholder="Email Address" formControlName="email">
          <div
            *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)"
            class="error-msg">

            <div *ngIf="forgotPasswordForm.controls['email'].errors.required">
              Email address is required.
            </div>
            <div
              *ngIf="forgotPasswordForm.controls['email'].errors.email || forgotPasswordForm.controls['email'].errors.pattern">
              Email must be a valid email address.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group mt-4 mb-2 d-flex">
      <a class="btn btn-lg btn-dark login-button w-100" routerLink="/login">Cancel</a>
      <a class="btn btn-lg btn-primary login-button w-100" routerLink="/login">Submit</a>
    </div>
  </form>
</div>
