<!-- <ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination" class="d-flex justify-content-end"></ngb-pagination> -->

<nav class="table-pagination" aria-label="pagination">
  <ul class="pagination">
     <li class="page-item"><a class="page-link"><i class="icon-double-arrow-left"></i></a></li>
     <li class="page-item"><a class="page-link disabled"><i class="icon-arrow-left"></i></a></li>
     <span class="total-count">(1  - 20 of 26)</span>
     <li class="page-item"><a class="page-link"><i class="icon-arrow-right"></i></a></li>
     <li class="page-item"><a class="page-link"><i class="icon-double-arrow-right"></i></a></li>
  </ul>
</nav>
