<div class="container-fluid">
  <div class="content-header mb-4">
    <h1><i class="icon-user"></i> View Admin User</h1>
    <button type="button" class="btn btn-outline-secondary ml-auto">
    Reset Password
    </button>

    <a routerLink="/admin-management/add-admin" class="btn btn-outline-secondary">Edit Admin User</a>
    <button class="btn btn-outline-secondary back-btn" (click)="back()"><i class="icon-arrow-back"></i></button>
  </div>
    <div class="content-body card">
      <div class="card-body">
        <div class="row readonly-form">
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Name:</label>
              <label class="col-md-8">John Doe</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Username:</label>
              <label class="col-md-8">Johndoe123</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Email Address:</label>
              <label class="col-md-8">johndoe@example.com</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Phone:</label>
              <label class="col-md-8">+1 4078783960</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Date of Birth:</label>
              <label class="col-md-8">05/07/1990</label>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Status:</label>
              <label class="col-md-8">Active</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Address:</label>
              <label class="col-md-8">7940 Country Home</label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">City:</label>
              <label class="col-md-8">Brunswick</label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">State:</label>
              <label class="col-md-8">NJ</label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Country:</label>
              <label class="col-md-8">USA</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label  col-lg-4">Zip Code/Postal Code:</label>
              <label class="col-md-8">08816</label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Date Created:</label>
              <label class="col-md-8">02/31/2020 04:30 PM  by John Doe </label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-row">
              <label class="control-label col-lg-4">Date Modified:</label>
              <label class="col-md-8">08/15/2020 09:30 AM  by John Doe</label>
            </div>
          </div>

          <div class="col-12">
            <fieldset class="form-group">
              <label for="avatar" class="control-label font-weight-bold">Avatar</label>
              <div class="profile-photo mb-2 mt-2">
                <i class="icon-user"></i>

            </div>
            </fieldset>
          </div>
        </div>
    </div>

</div>




