<div class="container-fluid">
  <div class="content-header inline-header mb-4">
    <h1><i class="icon-user"></i> Add Admin</h1>
    <button class="btn btn-outline-secondary back-btn ml-auto" (click)="back()"><i class="icon-arrow-back"></i></button>
  </div>
  <form [formGroup]="addUsersForm" novalidate>
    <div class="content-body card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="firstName">First Name <span class="required">*</span></label>
              <input class="form-control" type="text" id="firstName" placeholder="First Name" formControlName="firstName">
              <div
                *ngIf="addUsersForm.controls['firstName'].invalid && (addUsersForm.controls['firstName'].dirty || addUsersForm.controls['firstName'].touched)"
                class="error-msg">
                <div *ngIf="addUsersForm.controls['firstName'].errors.required">
                  First name is required.
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="lastName">Last Name <span class="required">*</span></label>
              <input class="form-control" type="text" id="lastName" placeholder="Last Name" formControlName="lastName">
              <div
                *ngIf="addUsersForm.controls['lastName'].invalid && (addUsersForm.controls['lastName'].dirty || addUsersForm.controls['lastName'].touched)"
                class="error-msg">
                <div *ngIf="addUsersForm.controls['lastName'].errors.required">
                  Last name is required.
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="username">Username <span class="required">*</span></label>
              <input class="form-control" type="text" id="username" placeholder="Username" formControlName="username">
              <div
                *ngIf="addUsersForm.controls['username'].invalid && (addUsersForm.controls['username'].dirty || addUsersForm.controls['username'].touched)"
                class="error-msg">
                <div *ngIf="addUsersForm.controls['username'].errors.required">
                  Username name is required.
                </div>
              </div>
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="emailAddress">Email Address <span class="required">*</span></label>
              <input class="form-control" type="text" id="emailAddress" placeholder="Email Address" formControlName="emailAddress">
              <div
                *ngIf="addUsersForm.controls['emailAddress'].invalid && (addUsersForm.controls['emailAddress'].dirty || addUsersForm.controls['emailAddress'].touched)"
                class="error-msg">
                <div *ngIf="addUsersForm.controls['emailAddress'].errors.required">
                  Email address is required.
                </div>
              </div>
            </fieldset>
          </div>


          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group phone-field">
              <label for="Phone">Phone</label>
              <ngx-intl-tel-input [cssClass]="'custom form-control'"
              [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.UnitedStates" [maxLength]="15" [tooltipField]="TooltipLabel.Name"
              [phoneValidation]="true" [separateDialCode]="separateDialCode"
              [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
            </ngx-intl-tel-input>
            </fieldset>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group datepicker">
              <label for="Phone">Date of Birth</label>
              <div class="input-group">
                <input class="form-control" placeholder="MM/DD/YYYY"
                       name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}">
                       <i class="icon-calendar" (click)="d.toggle()"></i>
              </div>
            </fieldset>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="status">Status</label>
              <select id="status" class="form-control">
                <option [ngValue]="status" *ngFor="let status of statust">{{status.status}}</option>
              </select>
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="Address"  placeholder="Address" >
            </fieldset>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
              <label for="city">City</label>
              <input type="text" id="city" class="form-control" placeholder="City">
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
              <label for="state">State</label>
              <input type="text" id="state" class="form-control" placeholder="State">
            </fieldset>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <fieldset class="form-group">
              <label for="status">Country</label>
              <select id="status" class="form-control">
                <option value="null" selected disabled>Select</option>
                <option [ngValue]="country" *ngFor="let country of countries">{{country.name}}</option>
              </select>
            </fieldset>
          </div>

          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
              <label for="zipCode">Zip Code/Postal Code</label>
              <input type="text" id="zipCode" class="form-control" placeholder="Zip Code/Postal Code">
            </fieldset>
          </div>

          <div class="col-12">
            <fieldset class="form-group">
              <label for="avatar">Avatar</label>
              <div class="profile-photo mb-2 mt-2">
                <i class="icon-user"></i>
                <div class="upload-btn-wrapper">
                    <input name="imageLogo" type="file">
                </div>
            </div>
            </fieldset>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-actions center">
          <a routerLink="/admin-management" class="btn btn-dark mr-1">  Cancel</a>
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


